{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container d-flex justify-content-center align-items-center mt-3">
    <div class="card shadow-lg p-4" style="max-width: 500px; width: 100%;">
      <h2 class="text-center mb-4">{% if object %}Update Worker Profile{% else %}Register as Worker{% endif %}</h2>

      <form method="POST">
        {% csrf_token %}

        {{ form|crispy }}
        <button type="submit" class="btn btn-primary w-100 mt-4">{{ object|yesno:"Update,Register" }}</button>
      </form>

      {% if not user.is_authenticated %}
      <div class="mt-3 text-center">
        <p>Already have an account? <a href="{% url "login" %}">Login</a></p>
      </div>
      {% endif %}

    </div>
  </div>
{% endblock %}