<nav class="col-md-3 col-lg-2 d-md-block bg-dark text-white sidebar vh-100">
  <div class="position-sticky">
    <h3 class="p-3"><a href="{% url "task_manager:index" %}" class="nav-link text-white">Task Manager</a></h3>

    <ul class="nav flex-column">

      <div class="mb-4">
        <li class="nav-item">
          <a class="nav-link text-white {% if request.resolver_match.url_name == "index" %} fw-bold {% endif %}" href="{% url "task_manager:index" %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white {% if request.resolver_match.url_name == "task-list" %} fw-bold {% endif %}" href="{% url "task_manager:task-list" %}">All Tasks</a>
        </li>
      </div>
      <div>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link text-white" href="#">My profile</a>
          </li>
          <li class="nav-item mb-4 btn btn-danger">
            <form action="{% url "logout" %}" method="post">
              {% csrf_token %}
              <button type="submit" class="nav-link text-white">Log out</button>
            </form>
          </li>
        {% else %}
          <li class="nav-item mb-4 btn btn-primary">
            <a class="nav-link text-white" href="{% url "login" %}">Log in</a>
          </li>
        {% endif %}
      </div>

    </ul>
  </div>
</nav>