<nav class="col-md-3 col-lg-2 d-md-block bg-dark text-white sidebar vh-100">
  <div class="position-sticky">
    <h3 class="p-3">Task Manager</h3>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link text-white" href="#">{{ user.get_username }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Task Types</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Positions</a>
      </li>
    </ul>
  </div>
</nav>