{% extends "base.html" %}

{% block content %}

  {% if user.is_authenticated %}
    <h1>Welcome back, {{ user.first_name }}</h1>


  {% if pending_tasks %}
  <p>
    You have {{ pending_tasks.count }} pending task{{ s|pluralize }}:
  </p>
  <ul>
  {% for task in pending_tasks %}
    <li>
      {{ task.name }}
    </li>
  {% endfor %}
  </ul>
  {% else %}
  <p>
    There are no pending tasks
  </p>
  {% endif %}


  {% if completed_tasks %}
  <p>
    You have {{ completed_tasks.count }} completed task{{ s|pluralize }}:
  </p>
  <ul>
  {% for task in completed_tasks %}
    <li>
      {{ task.name }}
    </li>
  {% endfor %}
  </ul>
  {% else %}
  <p>
    There are no completed tasks
  </p>
  {% endif %}

  <a href="#">Add task</a>
  <a href="#">View all tasks</a>

  {% else %}
    <h1>Welcome to the Task Manager, log in to start adding tasks!</h1>
  {% endif %}



{% endblock %}