{% extends "base.html" %}

{% block content %}
  <div class="container mt-4">
    <h2 class="mb-4 text-center">All Tasks</h2>

    {% if task_list %}
      <div class="row">
        {% for task in task_list %}
          <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm mb-4">
              <div class="card-header">
                <h5>
                  <a href="{% url "task_manager:task-detail" pk=task.id %}" class="text-decoration-none text-dark">
                    {{ task.name }}
                  </a>
                </h5>

                <div class="d-flex">
                  <span class="badge me-auto
                    {% if task.priority == "Urgent" %} bg-danger
                    {% elif task.priority == "High" %} bg-warning
                    {% elif task.priority == "Medium" %} bg-primary
                    {% else %} bg-secondary {% endif %}">
                    {{ task.priority }}
                  </span>

                  <span class="badge {% if task.is_completed %} bg-success {% else %} bg-info {% endif %}">
                    {% if task.is_completed %} Completed {% else %} Pending {% endif %}
                  </span>
                </div>



              </div>
              <div class="card-body">
                <p class="card-text text-muted">{{ task.description }}</p>



                <div class="mt-5 d-flex gap-2">
                  <a href="{% url "task_manager:task-update" pk=task.id %}" class="btn btn-success btn-sm me-auto">Approve</a>
                  <a href="{% url "task_manager:task-update" pk=task.id %}" class="btn btn-outline-dark btn-sm">Edit</a>
                  <a href="{% url "task_manager:task-delete" pk=task.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p class="text-center text-muted">
        No tasks here yet! <a href="#">Add one?</a>
      </p>
    {% endif %}
  </div>
{% endblock %}